<a href="{{ post.link }}" {{ fn('post_class', ['entry', 'block--product color--black grid--half grid--sm-third grid--lg-third border--1 margin--bot-1 margin--dsk-bot-2 '], post.ID ) }}{% for term in post.terms('product_cat') if term == 'Featured' %}data-feat="true"{% endfor %}>
{{ fn('timber_set_product', post) }}
{% include 'components/blocks/block--product-header-image.twig' %}
{% do action('woocommerce_before_shop_loop_item_title') %}
{% include 'components/blocks/block--product-content.twig' %}
</a>