.block--product {
    position: relative;

    // min-height: 230px;

    @include media($screen-sm) {
        min-height: 300px;
    }


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    label[for^="pa_bag-size"], .reset_variations, label[for^="pa_size"] {
        @extend .screenreader;
    }

    select {
        appearance: none;
    }

    &.product-type-variable {
        .woocommerce-variation-description {
            // if it's a variable product, we need to hide the price range displayed
            @extend .screenreader;
        }
    }

    > .price {
        position: absolute;
        bottom: 0;
        width: 30%;
        text-align: center;
        border-right: 1px solid;
        padding: 5px 0;
    }

    &.product_cat-coffee {
        &.product-type-variable {
            .product-title + .price, .block--product-award + .price, .pre-cart + .price {
                @extend .screenreader;
            }
        }
    }

    .block--product-award, .variations, .woocommerce-variation, .product-title, img {
        border-color: map-get($brown, lightfade) !important;
    }

    .button {
        color: map-get($brown, main) !important;
    }

    &.product_cat-featured {
        // featured products have a different look
        background-color: map-get($brown, lightfade);

        .block--product-award, .variations, .woocommerce-variation, .product-title, img {
            border-color: $green !important;
        }

        .price {
            color: $green;
        }

        select {
            color: $green;
        }

        .button {
            color: $black !important;
        }
    }

    .block--product-award {
        @include media($max-sm) {
            font-size: 0.65em;
            line-height: 1.3;
        }
    }

    .product-title {
        border-bottom: 1px solid;

        + .block--product-award {
            border-top: none;
        }

        + .price {
            position: relative;
            bottom: 0;
            width: 100%;
            text-align: center;
            display: block;

            @include media($screen-sm) {
                height: 61px;
                padding: 17px 0px;
                box-sizing: border-box;
            }


            .amount {
                text-align: left;
                display: table;
                padding-left: 15px;
            }

            + .add_to_cart_button {
                position: absolute;
                right: 0;
                bottom: calc(30.5px / 2);
            }
        }
    }

    .icon-beans--two {
        width: 50px;
        float: right;
    }

    .notice--coffee {
        &.feat {
            .icon-beans--two {
                svg {
                    path {
                        fill: $green;
                    }
                }
            }
        }
    }

    .icon-award {
        width: 20px;
        margin-right: 10px;
        margin-top: 5px;
    }

    form {
        position: relative;
        padding: 10px 0;

        .variations {
            display: block;
            text-align: center;
            width: 25%;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-60%);
            border-right: 1px solid;
            padding: 3px 5px 4px 0;

            tbody {
                display: block;
                width: 100%;

                tr {
                    display: block;
                    width: 100%;

                    td.value {
                        display: block;
                        width: 100%;

                        // variation drop-down

                        select {
                            width: 100%;
                            text-align: center;
                            font-weight: 400;
                            padding: 0;
                            border: 0;
                            background-size: 12px;
                            background-position: 80% center;
                        }
                    }
                }
            }
        }

        .single_variation_wrap {
            height: 41px;
            display: flex;
            justify-content: space-between;

            .woocommerce-variation {
                display: block !important;
                flex-basis: 30%;
                text-align: center;
                border-right: 1px solid;
                padding: 5px 0;

                .woocommerce-variation-price {
                    .price {
                        .woocommerce-Price-amount {
                            // the number is here
                            .woocommerce-Price-currencySymbol {}
                        }
                    }
                }
            }

            .woocommerce-variation-add-to-cart-enabled {
                flex-basis: 40%;
                text-align: center;

                .single_add_to_cart_button {
                    // this is the button
               
                }
            }

            .quantity_select {
                display: none;
            }

            + .woocommerce-variation-add-to-cart {
                display: none;
            }
        }
    }

    button, .add_to_cart_button {
        text-transform: uppercase !important;
        border-bottom: 2px solid !important;
        letter-spacing: 1.5px !important;
        display: table !important;
        font-weight: 600 !important;
        background: transparent !important;
        display: inline-block !important;
        padding: 0 0 2px 0px !important;
        font-size: .9rem !important;
        border-radius: 0 !important;
    }

    &.product-type-simple {
        > .price {
            &:last-of-type {
                margin-bottom: 10px;
            }
        }

        .button {
            align-self: flex-end;
            margin-bottom: 10px;
            margin-right: 1em;
            position: relative;
        }
    }

    .block--product-bottom {
        @include media($screen-sm) {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    .media-figure {
        img {
            border-bottom: 1px solid;
            display: block;
        }
    }

    &.product-type-variable {
        .media-figure {
            + .block--product-bottom {
                > .price {
                    position: absolute;
                }

                form {
                    position: relative;

                    @include media($screen-sm) {
                        height: 61px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }

    .single_variation_wrap, .price, .add_to_cart_button,.variations_form {
        @include media($max-sm) {
            display: none !important;
        }
    }
}

.price {
    font-family: $base-serif-font;
}