.block--cafe-details {
    @include media($screen-sm) {
        border-left: 1px solid map-get($brown, light);
        padding-left: 2em;

        .piece--detail {
            border-bottom: 1px solid map-get($brown, light);

            &:last-of-type {
                border: 0;
            }
        }
    }


    .block--cafe-detail-content {
        @include media($max-sm) {
            display: flex;
            flex-wrap: wrap;
        }


        .piece--detail {
            .content {
                @include media($max-sm) {
                    font-size: .8em;
                    line-height: 1.6;
                    font-weight: 400 !important;
                }


                flex-basis: calc(100% - 25px);

                @include media($screen-sm) {
                    flex-basis: calc(100% - 35px);
                }
            }

            &:nth-of-type(3) {}

            i {
                margin: 0;
                flex-basis: 15px;
            }

            .icon-social--facebook {
                flex-basis: 12px;
                margin-top: 5px;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }

            .icon-hand, .icon-hand-short {
                flex-basis: 18px;
            }

            @include media($max-sm) {
                &:nth-of-type(1) {
                    border-right: 1px solid map-get($brown, light);
                }

                &:nth-of-type(2) {}

                &:nth-of-type(3) {
                    border-top: 1px solid map-get($brown, light);
                    border-bottom: 1px solid map-get($brown, light);
                }
            }
        }
    }
}