.section--single-cafe-nav{
    .nextprev {
    display: inline-block;

    @include media($screen-lg) {
        position: absolute;
        top: 5em;
    }


    span {
        display: inline-block;

        @include media($screen-lg) {
            transform: rotateZ(180deg);
        }
    }

    i {
        width: 20px;

        svg {
            path {
                fill: map-get($brown, main);
            }
        }
    }

    span {
        border-bottom: 2px solid;
    }

    &:first-of-type {
        transform-origin: left;

        @include media($screen-lg) {
            transform: rotateZ(90deg);
        }


        i {
            transform: rotateY(-180deg);

            @include media($screen-lg) {
                transform: rotateZ(270deg) rotateY(180deg);
            }
        }

        left: 0;

        @include media($screen-lg) {
            margin-left: 2em;
        }
    }

    &:last-of-type {
        @include media($screen-lg) {
            i {
                transform: rotateZ(90deg);
            }
        }


        right: 0;
        transform-origin: right;

        @include media($screen-lg) {
            transform: rotate(-90deg);
            margin-right: 2em;
        }
    }
}
}