.block--product {
    position: relative;


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    &.product_cat-coffee {
        &.product-type-variable {
            .product-title + .price, .block--product-award + .price, .pre-cart + .price {
                @extend .spacing--horiz-half;
            }
        }
    }

    .block--product-award, .variations, .woocommerce-variation, .product-title, img, .block--price-wrap {
        border-color: map-get($brown, lightfade) !important;
    }

    .button {
        color: map-get($brown, main) !important;
    }

    &.product_cat-featured {
        // featured products have a different look
        background-color: map-get($brown, lightfade);
        border-color: $green !important;

        .block--product-award, .variations, .woocommerce-variation, .product-title, img, .block--price-wrap {
            border-color: $green !important;
        }

        .price {
            color: $green;
        }

        select {
            color: $green;
        }

        .button {
            color: $black !important;
        }
    }

    .block--product-award {
        @include media($max-sm) {
            i {
                display: none;
            }
        }
    }

    .title-wrap {
        &.flex {
            .product-title {
                flex-basis: calc(100% - 35px);
            }
        }
    }

    .block--product-award, .notice--coffee {
        @include media($max-sm) {
            font-size: 0.7em;
            line-height: 1.3;
        }
    }

    h4 {
        @include media($max-sm) {
            font-size: .7em;
        }
    }

    .icon-beans--two {
        width: 50px;
        float: right;
    }

    .notice--coffee {
        &.feat {
            .icon-beans--two {
                svg {
                    path {
                        fill: $green;
                    }
                }
            }
        }
    }

    .icon-beans--two {
        @include media($max-sm) {
            width: 35px;
        }
    }

    .icon-award {
        width: 20px;
        margin-right: 10px;
        margin-top: 5px;
    }

    img {
        width: 100%;
        display: block;
        + .notice--coffee {
            z-index: 2;
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            mix-blend-mode: multiply;
        }
    }

    .block--product-bottom {
        .block--price-wrap {
            border-top: 1px solid;
        }
    }

    .media-figure {
        img {
            border-bottom: 1px solid;
            display: block;
        }
    }

    .single_variation_wrap, .add_to_cart_button, .variations_form {
        display: none !important;
    }

    order: 2;

    &.product_cat-featured {
        order: 1;
    }
}

.price {
    font-family: $base-serif-font;
}