.block--cafe-details {
    @include media($screen-sm) {
        border-left: 1px solid map-get($brown, light);
        padding-left: 2em;

        .piece--detail {
            border-bottom: 1px solid;

            &:last-of-type {
                border: 0;
            }
        }
    }


    @include media($max-sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .piece--detail {
        .content {
            flex-basis: calc(100% - 34px);
        }


        i {
            margin: 0;
        }

        .icon-phone {
            flex-basis: 14px;
        }

        .icon-hand {
            flex-basis: 22px;
        }

        .icon-clock {
            flex-basis: 14px;
        }

        .icon-envelope {
            flex-basis: 14px;
        }
    }
}