.button, .ha-button {
    text-transform: uppercase;
    border-bottom: 2px solid;
    letter-spacing: 1.5px;
    display: table;
    font-weight: 600;
    background: transparent;
    padding: 0;

    // font-size: inherit;
    border-radius: 0;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    display: inline-block;
    color: map-get($brown, main);
    border-bottom: 2px solid;
    background-color: transparent;
    padding: 0;
    padding-bottom: 2px;
    text-align: right;
    border-radius: 0;

    @extend .font--small;

    &:hover {
        background: transparent;
        color: darken(map-get($brown, main), 5%);
    }
}

.ha-addtocart {
    text-align: right;
    margin-bottom: 2em;
    margin-top: 1em;

    .icon-cart {
        width: 16px;
        margin-right: .5em;
    }

    button {
        top: -5px;
    }
}

.woocommerce-Button {
    text-transform: uppercase !important;
    border-bottom: 2px solid !important;
    letter-spacing: 1.5px !important;
    display: table !important;
    font-weight: 600 !important;
    background: transparent !important;
    padding: 0 !important;

    // font-size: inherit !important;
    border-radius: 0 !important;
    display: inline-block !important;
    color: map-get($brown, main) !important;
    border-bottom: 2px solid !important;
    background-color: transparent !important;
    padding: 0 !important;
    padding-bottom: 2px !important;
    text-align: right !important;
    border-radius: 0 !important;
}