.button {
    text-transform: uppercase;
    border-bottom: 2px solid;
    letter-spacing: 1.5px;
    display: table;
    font-weight: 600;
    background: transparent;
    padding: 0;
    font-size: inherit;
    border-radius: 0;
}