.dsk--hide {
    @include media($screen-sm) {
        display: none !important;
    }
}

.mobile--hide {
    @include media($max-sm) {
        display: none !important;
    }
}

.large--hide {
    @include media($screen-md) {
        display: none !important;
    }
}

.medium--hide {
    @include media($max-md) {
        display: none !important;
    }
}

.margin--center {
    margin: 0 auto;
    display: block;
}

.center {
    margin: 0 auto;
}

.modal--center {
    transform: translateY(100%) translateX(-50%);
    position: absolute;
    width: 60vw;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transition: transform 0.3s $base-animation;

    &.open {
        transition: transform 0.3s $base-animation;
        transform: translateY(-50%) translateX(-50%);
    }
}

.relative {
    position: relative;
}

.full-height {
    @include media($screen-sm) {
        height: 100vh;
        max-height: 52vw;
    }
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.float--right-dsk {
    @include media($screen-sm) {
        float: right;
    }
}

.border-box {
    box-sizing: border-box;
}

.inline-background {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.z-99 {
    z-index: 99;
}

.overflow-no {
    overflow: hidden;
}

.content {
    img {
        max-width: 100%;
        height: auto;
    }
}