.flex {
    display: flex;
}

.dsk--flex {
    @include media($screen-sm) {
        display: flex;
    }
}

.mob--flex {
    @include media($max-sm) {
        display: flex;
    }
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--column {
    flex-direction: column;
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.justify--end {
    justify-content: flex-end;
}

.justify--center {
    justify-content: center;
}

.align--items-start {
    align-items: start;
}

.align--items-center {
    align-items: center;
}

// 
// Grid
//

.max-wrap {
    max-width: $max-wrap;
    box-sizing: content-box;
}

.content-wrap {
    max-width: $max-wrap / 2;
    box-sizing: content-box;

    img {
        max-width: 100%;
        height: auto;
    }
}
.cafe-wrap{
    max-width: 960px;

}
.sidebar{

}

.margin--center {
    margin: 0 auto;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block;
}

.content-box {
    box-sizing: content-box;
}

.vertical--center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hidden--mob {
    @include media($max-sm) {
        display: none !important;
    }
}

.hidden--md {
    @include media($max-md) {
        display: none !important;
    }
}

.hidden--lg {
    @include media($max-lg) {
        display: none !important;
    }
}

.hidden--lgup {
    @include media($screen-lg) {
        display: none !important;
    }
}
.hidden--dsk {
    @include media($screen-sm) {
        display: none !important;
    }
}

.order--1 {
    order: 1;
}

.order--2 {
    order: 2;
}

.grow--1 {
    flex-grow: 1;
}