.icon-logo {
    position: relative;
    display: inline-block;
    width: 175px;

    @include media($screen-ex) {
        display: block;
        width: 225px;
            margin-top: -6px;
    }


    @include media($screen-sm) {}


    @include media($screen-md) {
        width: 345px;

    }


    @include media($screen-lg) {}


    @include media($screen-xl) {}


    @include media($max-sm) {
        margin-top: -8px;
    }
}

.icon-cart {
    display: inline-block;
    width: 14px;
}

.icon-search {
    display: inline-block;
    height: 10px;

    svg {
        height: 100%;
    }
}

.icon-logo-monogram {
    width: 50px;
    min-height: 44px;
    display: inline-block;

    svg {
        width: 100%;
    }
}

.icon-footer-guy {
    margin: 0 auto;
    display: block;
    top: -2em;
    position: relative;
    width: 140px;

    svg {
        width: 100%;
    }
}

.icon-beans--two {
    width: 150px;

    @include media($screen-sm) {
        width: 210px;
    }


    display: inline-block;

    svg {
        width: 100%;
    }
}

.icon-phone, .icon-hand, .icon-clock, .icon-envelope, .icon-calendar {
    width: 11px;
    display: inline-block;
    margin-right: 0.5em;

    svg {
        width: 100%;
    }
}

i[class^="icon-map"] {
    svg {
        text {
            font-family: $default-font;
            font-weight: 700;
        }
    }
}