.icon-logo {
    position: relative;
    display: inline-block;

    @include media($screen-lg) {}


    @include media($screen-xl) {}
}

.hdr-logo-link {
    margin-top: -10px;
    position: relative;
    display: block;
    margin-bottom: 10px;

    @include media($screen-ex) {
        margin-top: -8px;
        margin-bottom: 8px;
    }


    @include media($screen-xs) {}


    @include media($screen-sm) {}


    @include media($screen-md) {
        margin-top: -12px;
        margin-bottom: 0;
    }


    @include media($screen-lg) {
        margin-top: -7px;
    }


    @include media($screen-xl) {}
}

.hdr-logo-link, .icon-logo {
    width: 175px;
    height: 46px;

    @include media($screen-ex) {
        width: 225px;
        height: 56px;
    }


    @include media($screen-xs) {
        width: 315px;
        height: 78px;
    }


    @include media($screen-sm) {}


    @include media($screen-md) {}


    @include media($screen-lg) {
        width: 345px;
        height: 85px;
    }


    @include media($screen-xl) {}
}

.icon-cart {
    display: inline-block;
    width: 14px;
}

.icon-search {
    display: inline-block;
    height: 10px;

    svg {
        height: 100%;
    }
}

.icon-logo-monogram {
    width: 50px;
    min-height: 44px;
    display: inline-block;

    svg {
        width: 100%;
    }
}

.icon-footer-guy {
    margin: 0 auto;
    display: block;
    top: -2em;
    position: relative;
    width: 140px;

    svg {
        width: 100%;
    }
}

.icon-beans--two {
    width: 150px;

    @include media($screen-sm) {
        width: 210px;
    }


    display: inline-block;

    svg {
        width: 100%;
    }
}

.icon-phone, .icon-hand, .icon-clock, .icon-envelope, .icon-calendar {
    width: 20px;

    @include media($screen-sm) {
        width: 11px;
    }


    display: inline-block;
    margin-right: 0.5em;

    svg {
        width: 100%;
    }
}

i[class^="icon-map"] {
    svg {
        text {
            font-family: $default-font;
            font-weight: 700;
        }
    }
}