@include media($max-sm) {
    body {
        overflow-y: scroll;
    }

    .header--logo {
        margin: 0;
    }

    .menu--trigger {
        float: right;
        width: 24px;
        height: 22px;
        position: relative;
        z-index: 99999999;
        display: block;
        -webkit-tap-highlight-color: transparent !important;

        span {
            @include accelerate;

            height: 1px;
            width: 100%;
            border-bottom: 3px solid;
            border-color: map-get($brown, dark);
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            display: block;
            opacity: 1;
            transition: opacity 0.3s $base-animation;
        }

        &:after, &:before {
            @include accelerate;

            display: block;
            border-color: map-get($brown, dark);
            position: absolute;
            width: 100%;
            height: 0px;
            content: ' ';
            transform-origin: center;
            transform: translateY(0) rotate(0);
            transition: transform 0.3s $base-animation;
        }

        &:before {
            border-top: 3px solid;
            top: 0;
        }

        &:after {
            border-bottom: 3px solid;
            bottom: 0;
        }
    }

    header.header {
        padding-top: 5px;
        padding-bottom: 9px;

        .navs {
            @include accelerate;

            transform: translateX(-110%);
            transition: transform 0.3s $base-animation;
            box-shadow: 0px 0px 10px transparentize(map-get($brown, dark), 0.4);
            position: fixed;
            top: 0;
            left: 0;
            background-color: map-get($brown, faded);
            z-index: 9999;
            bottom: 0;
            width: 70%;
            text-align: left !important;

            ul {
                li {
                    display: block;

                    a {
                        display: block;
                    }
                }
            }

            .section--main-nav {
                margin-top: 5rem;

                li {
                    a {
                        border-top: 1px solid $green;
                        padding: .5em 1em;
                    }
                }
            }

            .section--sub-nav {
                li > a, #triggerSearch {
                    border-top: 1px solid map-get($brown, main);
                    padding: .25em 1em;
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                }

                .icon-cart {
                    display: none;
                }
            }

            .nav-item {
                &.menu-item-has-children {
                    position: relative;

                    > .nav-link {
                        z-index: 9;
                        position: relative;
                    }

                    .nav-drop-item {
                        @include accelerate;

                        z-index: 8;
                        position: relative;

                        .nav-link {
                            border-top: 0;
                            font-family: $base-sans-font;
                            padding-top: 0;
                            padding-bottom: .2em;
                        }

                        margin: -3em 0;
                        opacity: 0;
                        transition: margin 0.4s $base-animation, opacity 0.3s $base-animation;
                    }

                    .trigger--children {
                        text-align: right;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 42%;
                        height: 55px;
                        line-height: 1.2;
                        z-index: 9998;
                        font-size: 26px;
                        transform-origin: center;

                        span {
                            @include accelerate;

                            transform-origin: center;
                            color: map-get($brown, dark);
                            position: relative;
                            transition: transform 0.4s $base-animation, background 0.4s $base-animation, color 0.4s $base-animation;
                            width: 30px;
                            height: 30px;
                            margin-top: 12px;
                            margin-right: 5px;
                            display: inline-block;
                            text-align: center;
                            font-weight: 100;
                            background: transparent;
                            line-height: 0.9;
                            border-radius: 100%;
                        }
                    }

                    &.children--visible {
                        .trigger--children {
                            span {
                                background: map-get($brown, main);
                                color: $white;
                                transition: transform 0.4s $base-animation, background 0.4s $base-animation, color 0.4s $base-animation;
                                transform: rotate(-45deg);
                            }
                        }

                        .nav-drop-item {
                            .nav-link {}

                            margin: 0em 0;
                            opacity: 1;
                            transition: margin 0.4s $base-animation, opacity 0.3s $base-animation;

                            &:last-of-type {
                                margin: 0 0 0.7em;
                            }
                        }
                    }
                }
            }
        }

        .icon-cart {
            width: 24px;
        }
    }

    body {
        &.navopen {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .menu--trigger {
                background-color: transparent;

                &:after, &:before {
                    transition: transform 0.3s $base-animation;
                }

                &:before {
                    transform: translateY(9.5px) rotate(45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    transform: translateY(-9.5px) rotate(-45deg);
                }

                span {
                    transition: opacity 0.15s $base-animation;
                    opacity: 0;
                }
            }

            header {
                .navs {
                    transform: translateX(0);
                    transition: transform 0.3s $base-animation;
                }
            }
        }
    }
}