@include media($max-sm) {
    body {
        overflow-y: scroll;
    }

    .header--logo {
        margin: 0;
    }

    .menu--trigger {
        float: right;
        width: 24px;
        height: 22px;
        position: relative;
        z-index: 99999999;
        display: block;
        -webkit-tap-highlight-color: transparent !important;

        span {
            height: 1px;
            width: 100%;
            border-bottom: 3px solid;
            border-color: map-get($brown, dark);
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            display: block;
            opacity: 1;
            transition: opacity 0.3s $base-animation;
        }

        &:after, &:before {
            display: block;
            border-color: map-get($brown, dark);
            position: absolute;
            width: 100%;
            height: 0px;
            content: ' ';
            transform-origin: center;
            transform: translateY(0) rotate(0);
            transition: transform 0.3s $base-animation;
        }

        &:before {
            border-top: 3px solid;
            top: 0;
        }

        &:after {
            border-bottom: 3px solid;
            bottom: 0;
        }
    }

    header.header {
        padding: 5px 0 9px 0;

        .navs {
            transform: translateX(-110%);
            transition: transform 0.3s $base-animation;
            box-shadow: 0px 0px 10px transparentize(map-get($brown, dark), 0.4);
            position: fixed;
            top: 0;
            left: 0;
            background-color: map-get($brown, faded);
            z-index: 9999;
            bottom: 0;
            width: 50%;
            text-align: left !important;

            ul {
                li {
                    display: block;

                    a {
                        display: block;
                    }
                }
            }

            .section--main-nav {
                margin-top: 60.5px;

                li {
                    a {
                        border-top: 1px solid $green;
                        padding: .5em 1em;
                    }
                }
            }

            .section--sub-nav {
                li > a, #triggerSearch {
                    border-top: 1px solid map-get($brown, main);
                    padding: .25em 1em;
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                }

                .icon-cart {
                    display: none;
                }
            }
        }

        .icon-cart {
            width: 24px;
        }
    }

    // .main--header {
    //     margin-bottom: -1em;
    //     min-height: 120px;
    //     position: relative;

    //     // Below is navigation after it's displayed
    //     .main-nav {
    //         text-align: left !important;
    //         position: absolute;
    //         width: 100%;
    //         height: 0;
    //         -webkit-transform: translate3d(0, 0, 0);
    //         opacity: 0;
    //         transition: height 0.3s $base-animation, top 0.3s $base-animation, opacity 0.3s $base-animation;
    //         left: 0;
    //         right: 0;
    //         top: -7.5em;
    //         background-color: map-get($brown, light);
    //         z-index: 999;

    //         ul {
    //             margin: 0;
    //             padding: 0;

    //             li {
    //                 margin: 0;
    //                 padding: 0;
    //                 position: relative;
    //                 display: block;

    //                 &.nav-item {
    //                     min-height: 35px;
    //                     margin: 0;
    //                     padding: 0.3em 0;
    //                     transform: translateY(-1.5em);
    //                     transition: transform 0.3s $base-animation;

    //                     &:nth-of-type(1) {
    //                         transition-delay: .125s;
    //                     }

    //                     &:nth-of-type(2) {
    //                         transition-delay: .1s;
    //                     }

    //                     &:nth-of-type(3) {
    //                         transition-delay: .075s;
    //                     }

    //                     &:nth-of-type(1) {
    //                         z-index: 999;

    //                         .top-level {
    //                             z-index: 999;
    //                         }
    //                     }

    //                     &:nth-of-type(2) {
    //                         z-index: 998;

    //                         .top-level {
    //                             z-index: 998;
    //                         }
    //                     }

    //                     &:nth-of-type(3) {
    //                         z-index: 997;

    //                         .top-level {
    //                             z-index: 997;
    //                         }
    //                     }

    //                     &:nth-of-type(3) {
    //                         z-index: 996;

    //                         .top-level {
    //                             z-index: 996;
    //                         }
    //                     }
    //                 }

    //                 .trigger--children {
    //                     text-align: right;
    //                     cursor: pointer;
    //                     position: absolute;
    //                     right: 0;
    //                     top: 0;
    //                     width: 42%;
    //                     height: 30px;
    //                     line-height: 1.2;
    //                     z-index: 9998;
    //                     font-size: 1.6em;
    //                     color: map-get($brown, dark);

    //                     span {
    //                         position: relative;
    //                         transition: transform 0.2s $base-animation, background 0.2s $base-animation;
    //                         width: 30px;
    //                         height: 30px;
    //                         display: inline-block;
    //                         text-align: center;
    //                         background: transparent;
    //                         line-height: 0.9;
    //                         border-radius: 100%;
    //                     }
    //                 }

    //                 &.children--visible {
    //                     .trigger--children {
    //                         span {
    //                             background: transparentize(white, 0.2);
    //                             transition: transform 0.2s $base-animation, background 0.2s $base-animation;
    //                             transform: rotate(-45deg);
    //                         }
    //                     }
    //                 }
    //             }
    //         }

    //         .top-level,
    //         .trigger--children {
    //             font-size: 1.3em;
    //         }

    //         .top-level {
    //             display: block;
    //             background-color: map-get($brown, light);
    //             position: relative;
    //             font-weight: 400 !important;
    //         }

    //         .trigger--children {
    //             font-weight: 100 !important;
    //         }

    //         .nav-drop {
    //             margin-top: 4px !important;
    //             position: relative;

    //             .nav-drop-item {
    //                 z-index: 10;
    //                 opacity: 0;
    //                 position: relative;

    //                 .nav-link {
    //                     font-weight: 400 !important;
    //                     margin-left: 5px;
    //                     display: block;
    //                     padding: 0.2em 0;
    //                 }

    //                 -webkit-transform: translate3d(0, 0, 0);
    //                 margin-top: -35px;

    //                 &:nth-of-type(1) {
    //                     transition: opacity 0.25s $base-animation, margin 0.25s $base-animation;
    //                 }

    //                 &:nth-of-type(2) {
    //                     transition: opacity 0.3s $base-animation, margin 0.3s $base-animation;
    //                 }

    //                 &:nth-of-type(3) {
    //                     transition: opacity 0.35s $base-animation, margin 0.35s $base-animation;
    //                 }

    //                 &:nth-of-type(4) {
    //                     transition: opacity 0.4s $base-animation, margin 0.4s $base-animation;
    //                 }

    //                 &:nth-of-type(5) {
    //                     transition: opacity 0.45s $base-animation, margin 0.45s $base-animation;
    //                 }

    //                 &:nth-of-type(6) {
    //                     transition: opacity 0.5s $base-animation, margin 0.5s $base-animation;
    //                 }

    //                 &:nth-of-type(7) {
    //                     transition: opacity 0.55s $base-animation, margin 0.55s $base-animation;
    //                 }
    //             }

    //             &.open {
    //                 .nav-drop-item {
    //                     opacity: 1;
    //                     transition: opacity 0.3s $base-animation, margin-top 0.3s $base-animation;
    //                     margin-top: 0;

    //                     &:nth-of-type(1) {
    //                         transition: opacity 0.25s $base-animation, margin 0.25s $base-animation;
    //                     }

    //                     &:nth-of-type(2) {
    //                         transition: opacity 0.3s $base-animation, margin 0.3s $base-animation;
    //                     }

    //                     &:nth-of-type(3) {
    //                         transition: opacity 0.35s $base-animation, margin 0.35s $base-animation;
    //                     }

    //                     &:nth-of-type(4) {
    //                         transition: opacity 0.4s $base-animation, margin 0.4s $base-animation;
    //                     }

    //                     &:nth-of-type(5) {
    //                         transition: opacity 0.45s $base-animation, margin 0.45s $base-animation;
    //                     }
    //                 }
    //             }
    //         }
    //     }

    //     .search-field {
    //         width: 100%;
    //         margin-top: 1em;
    //     }
    // }

    body {
        &.navopen {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .menu--trigger {
                background-color: transparent;

                &:after, &:before {
                    transition: transform 0.3s $base-animation;
                }

                &:before {
                    transform: translateY(9.5px) rotate(45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    transform: translateY(-9.5px) rotate(-45deg);
                }

                span {
                    transition: opacity 0.15s $base-animation;
                    opacity: 0;
                }
            }

            header {
                .navs {
                    transform: translateX(0);
                    transition: transform 0.3s $base-animation;
                }
            }

            // .main-nav {
            //     top: 6.6em;
            //     height: 100vh;
            //     opacity: 1;
            //     transition: height 0.3s $base-animation, top 0.3s $base-animation, opacity 0.3s $base-animation;
            //     padding-top: 2.3em;

            //     ul {
            //         .nav-item {
            //             transform: translateY(0);
            //             transition: transform 0.3s $base-animation;
            //         }
            //     }
            // }
       
        }
    }
}