.section--cafe-nav, .section--child-nav {
    @include media($screen-sm) {
        position: absolute;
        top: 6em;
        width: 100%;
        z-index: 97;
        left: 0;
        text-align: left;
        font-size: 1rem;
        box-sizing: border-box;
        transform: translateY(-150%);
        opacity: 0;
        transition: transform 0.3s $base-animation, opacity 0.3s $base-animation;
        transition-delay: .5s;

        .nextprev {
            i {
                right: -5.25em;
                position: absolute;
                top: 0em;

                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }

        .nav-drop-item {
            &:first-of-type {
                border-right: 1px solid map-get($brown, light);
            }
        }
    }
}

.section--cafe-nav {
    @include media($screen-sm) {
        opacity: 0;
        transform: translateY(-150%);
    }
}

%hover-styles {
    opacity: 1;
    transition: transform 0.3s $base-animation, opacity 0.3s $base-animation;
    transform: translateY(0);
}

.menu-item-32, .menu-item-has-children {
    // cursor: pointer;

    &:hover, &:focus {
        .section--cafe-nav, .section--child-nav {
            @extend %hover-styles;
        }
    }

    &:focus-within {
        .section--cafe-nav, .section--child-nav {
            @extend %hover-styles;
        }
    }

    a {
        &:focus {
            + .section--cafe-nav, + .section--child-nav {
                @extend %hover-styles;
            }
        }
    }
}

body.logged-in {
    @include media($screen-sm) {
        .section--cafe-nav, .section--child-nav {
            top: calc(6em + 32px);
        }

        .section--header-wrap {
            &:before {
                top: 32px;
            }
        }
    }
}