.shop_table {
    border-radius: 0;
    border-color: map-get($brown, light);

    thead {
        background-color: map-get($brown, dark);
        color: $white;
    }
    input.button{
    	font-size: 1.1rem;
    }

}