.block--product-aside {
    position: relative;
    position: sticky;
    top: 1em;

    .posted_in {
        display: none;
    }

    .single_variation_wrap {
        .input-text.qty {
            float: none !important;
            margin-right: 0 !important;
            display: block;
            width: 100%;
            position: relative;
        }

        .quantity {
            position: relative;
            margin-bottom: 1em;
            flex-grow: 1;

            &:before {
                content: 'QTY';
                font-size: .85rem;
                font-weight: 600;
                color: map-get($brown, formtext);
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 1em;
                letter-spacing: 1px;
            }

            select {}
        }

        #wc-stripe-payment-request-wrapper {
            padding: 0 !important;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;

        > .woocommerce-variation {
            flex-basis: 100%;
        }

        .quantity, table.variations {
            @extend .grid--half;
        }
    }

    .product_meta {
        text-align: right;
        position: absolute;
        right: 1em;
    }

    .variations {
        display: block;
        width: 100%;

        tbody {
            display: block;
            width: 100%;

            tr {
                position: relative;
                display: block;
                width: 100%;

                td {
                    &.label {
                        width: 100%;
                        position: absolute;
                        font-size: .8rem;

                        label {
                            position: absolute;
                            top: -1.6em;
                        }
                    }

                    &.value {
                        display: block;
                        width: 100%;
                        position: relative;
&:nth-of-type(n+1){
                      select {
                                text-align-last: left !important;
                            }
}
                        // &:before {
                        //     content: 'SIZE';
                        //     font-size: .85rem;
                        //     font-weight: 600;
                        //     color: map-get($brown, formtext);
                        //     display: block;
                        //     position: absolute;
                        //     top: 50%;
                        //     transform: translateY(-50%);
                        //     left: 1em;
                        //     letter-spacing: 1px;
                        // }

                        // &.coffee, &.Coffee {
                        //     &:before {
                        //         display: none !important;
                        //     }

                        //     select {
                        //         text-align-last: left !important;
                        //     }
                        // }

                        // &.style {
                        //     &:before {
                        //         content: "STYLE" !important;
                        //     }
                        // }

                        // &.color {
                        //     &:before {
                        //         content: "COLOR" !important;
                        //     }
                        // }
                   
                    }

                    .reset_variations {
                        @extend .screenreader;
                    }

                    select {}
                }
            }
        }

        &.var-2 {
            flex-basis: 100% !important;

            tbody {
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-wrap: wrap;

                tr {
                    @extend .grid--half;
                }
            }
        }
    }

    .price {
        font-size: 1.5em;
        letter-spacing: -2px;

        .amount {
            letter-spacing: 0px;
        }

        margin-bottom: 1em;
        display: block;
    }

    .woocommerce-variation-add-to-cart {
        display: block;
        width: 100%;
    }

    select, input[type="number"] {
        background-position: 95% center;
        background-position-x: calc(100% - 15px);
        background-position-y: center;
        font-size: 1rem;
        letter-spacing: 0.3px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -moz-outline: none;
        text-align: center;
        font-weight: 400;
        padding: 0;
        border: 0;
        padding: 10px 35px 10px 10px;
        background-size: 10px;
        display: block;
        margin: 0;
        border: 1px solid map-get($brown, light);
        text-align-last: right;
        -moz-text-align-last: right;
    }

    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
            select, input[type="number"] {
                text-indent: 80%;

                &.qty {
                    text-indent: 90%;
                }
            }
        }
    }
}

.entry-summary {
    img {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1em;

        &.size-medium {
            width: 300px;
        }
    }
}