.block--product-aside {
    position: relative;

    @include media($screen-sm) {
        // position: sticky;
    }


    .product--title {
        @include media($screen-smd) {
            font-size: 2rem;
            line-height: 1.3;
            letter-spacing: -0.9px;
        }
    }

    .pricevariable {
        font-size: 1.2rem !important;
        font-weight: 600 !important;
        color: $green;
        font-family: $base-sans-font;
        padding-bottom: .5rem;
        border-bottom: 1px solid;
    }

    .piece--detail {
        p {
            margin-bottom: 0;
        }

        border-color: transparentize(map-get($brown, dark), 0.7);
    }

    .piece--subtitle {
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-block;
        padding: 0.2rem 0.8rem;
        font-size: 0.9rem;
        letter-spacing: 1px;

        strong {
            font-size: 0.9rem;
            letter-spacing: 0.8px;
        }
    }

    top: 1rem;

    .posted_in {
        display: none;
    }

    .single_variation_wrap {
        margin-top: 0;

        .input-text.qty {
            float: none !important;
            margin-right: 0 !important;
            display: block;
            width: 100%;
            position: relative;
        }

        .quantity {
            position: relative;
            margin-bottom: 1rem;
            flex-grow: 1;
        }

        #wc-stripe-payment-request-wrapper {
            padding: 0 !important;
        }

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-itrems: baseline;

        > .woocommerce-variation {
            flex-basis: 100%;
        }

        .quantity, table.variations {
            @extend .grid--half;
        }
    }

    .product_meta {
        text-align: right;
        position: absolute;
        right: 1rem;
    }

    .variations {
        display: block;
        width: 100%;

        tbody {
            display: block;
            width: 100%;

            tr {
                position: relative;
                display: block;
                width: 100%;

                td {
                    &.label {
                        width: 100%;
                        position: absolute;
                        font-size: .8rem;

                        label {
                            position: absolute;
                            top: -1.6rem;
                        }
                    }

                    &.value {
                        display: block;
                        width: 100%;
                        position: relative;

                        &:nth-of-type(n+1) {
                            select {
                                text-align-last: left !important;
                            }
                        }

                        // &:before {
                        //     content: 'SIZE';
                        //     font-size: .85rem;
                        //     font-weight: 600;
                        //     color: map-get($brown, formtext);
                        //     display: block;
                        //     position: absolute;
                        //     top: 50%;
                        //     transform: translateY(-50%);
                        //     left: 1rem;
                        //     letter-spacing: 1px;
                        // }

                        // &.coffee, &.Coffee {
                        //     &:before {
                        //         display: none !important;
                        //     }

                        //     select {
                        //         text-align-last: left !important;
                        //     }
                        // }

                        // &.style {
                        //     &:before {
                        //         content: "STYLE" !important;
                        //     }
                        // }

                        // &.color {
                        //     &:before {
                        //         content: "COLOR" !important;
                        //     }
                        // }
                   
                    }

                    .reset_variations {
                        @extend .screenreader;
                    }

                    select {}
                }
            }
        }

        &.var-2 {
            flex-basis: 100% !important;

            tbody {
                display: flex;
                justify-content: space-between;
                align-itrems: start;
                flex-wrap: wrap;

                tr {
                    @extend .grid--half;
                }
            }
        }
    }

    .price {
        letter-spacing: -2px;

        .amount {
            letter-spacing: 0px;
        }

        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        display: block;
    }

    .woocommerce-variation-add-to-cart {
        display: block;
        width: 100%;
    }

    form.cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 2rem;

        .quantity {
            @extend .grid--half;

            @extend .grid--lg-third;
        }
    }

    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color: transparent) {
            select, input[type="number"] {
                text-indent: 80%;

                &.qty {
                    text-indent: 90%;
                }
            }
        }
    }
}

.entry-summary {
    img {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;

        &.size-medium {
            width: 300px;
        }
    }
}

.block--product-aside {
    .cart {
        margin-top: 2rem;

        &.variations_form {
            margin-top: 1rem;
        }
    }

    .variations_form {
        .single_variation_wrap {
            align-items: stretch;

            .single_variation {
                flex-basis: 100%;
                margin-bottom: 2rem;
            }

            .quantity {
                margin-bottom: 0;
                flex-grow: 0;

                label {
                    position: absolute;
                    top: -1.6rem;
                    font-size: 0.8rem !important;
                }

                input {
                    margin: 0;
                    height: 100%;
                }

                @extend .grid--half;
            }
        }
    }

    .woocommerce-variation-add-to-cart {
        margin-top: 1rem;
    }

    .quantity {
        position: relative;
        margin-right: 1rem;

        > label {
            font-size: .8rem;
            position: absolute;
            top: -1.6rem;

            + input {
                width: 100% !important;
                height: 100%;
                margin-bottom: 0;
            }
        }
    }
}