.section--header-wrap {
    &:before {
        content: ' ';
        top: 0;
        display: block;
        position: absolute;
        background-color: map-get($brown, faded);
        border-top: 3px solid map-get($brown, dark);

        @include media($screen-sm) {
            border-top: 5px solid map-get($brown, dark);
        }


        width: 100%;
        left: 0;
        height: 98px;
        right: 0;
        z-index: 99;
    }

    @include media($max-xs) {
        justify-content: space-around;
    }


    h1, a.nav-link, i, #triggerSearch, .cart-contents {
        z-index: 1000;
        position: relative;
    }
}