.section--home-cafe-grid {
    box-sizing: content-box;

    .block--cafe-grid-item {
        i {
            width: 15px;
            display: inline-block;
            margin-right: 0.5em;

            svg {
                width: 100%;
            }
        }

        .icon-hand {
            width: 22px;
        }

        box-sizing: border-box;

        @include media($screen-sm) {
            &:nth-of-type(-n+2) {
                border-bottom: 1px solid map-get($brown, light);
                padding-bottom: 2em * $grid;
            }

            &:nth-of-type(n+3) {
                padding-top: 2em * $grid;
            }

            &:nth-of-type(odd) {
                border-right: 1px solid map-get($brown, light);
                padding-right: 2em * $grid;
            }

            &:nth-of-type(even) {
                padding-left: 2em * $grid;
            }
        }


        .cafe--meta {
            font-weight: 600;
            letter-spacing: 1.5px;

            @include media($screen-md) {
                font-size: .8em;
            }


            @include media($screen-lg) {
                font-size: .9em;
            }


            .meta {
                small {
                    color: map-get($brown, formtext);
                }

                padding: 5px 0 8px 0;

                @include media($screen-sm) {
                    padding-bottom: 8px;
                }


                @include media($max-sm) {
                    display: block;
                }


                span {
                    font-weight: 400;
                    font-size: .9em;
                    line-height: 1.4;
                }
            }
        }
    }
}