.woocommerce-breadcrumb {
    display: none;
}

.woocommerce-message {
    z-index: 9999;
    position: relative;
    width: 100%;
}

.woocommerce a.remove {
    line-height: .8;

    &:hover {}
}

.woocommerce-pagination {
    margin-bottom: 4em;
    margin-top: -3em;

    @include media($max-xs) {}


    @include media($max-sm) {
        margin-bottom: 4em;
        margin-top: 2em;
    }


    @include media($max-md) {}


    @include media($max-lg) {}


    .page-numbers {
        border-color: map-get($brown, lightfade) !important;

        .page-numbers {
            border-color: map-get($brown, lightfade) !important;

            &.current {
                background-color: map-get($brown, lightfade) !important;
                color: $white;
            }
        }
    }
}

.woocommerce-MyAccount-navigation {
    @extend .grid--one;

    @extend .grid--sm-fourth;
}

.woocommerce-account {
    .font--content {
        .woocommerce {
            display: flex;
            flex-wrap: wrap;

            &:before, &:after {
                display: none;
            }

            justify-content: space-between;

            .woocommerce-MyAccount-navigation {
                border-right: 1px solid map-get($brown, main);
            }

            .woocommerce-MyAccount-navigation-link {
                text-transform: uppercase;

                @extend .font--small;

                @extend .font--bold;

                padding: 0.3em 0.6em;

                a {
                    @extend .color--black;
                }

                @extend .letter--1;

                border-bottom: 1px solid map-get($brown, main);

                &:last-of-type {
                    border-bottom: 0;
                }
            }

            h2 {
                font-size: 1.4em;
                letter-spacing: 0;
                font-family: $base-sans-font;
                margin-bottom: 0.5em;
            }
        }
    }
}

mark {
    background-color: map-get($brown, light);
    font-size: .9em;
    padding: 2px 4px;
}

.woocommerce table.shop_table {
    font-size: .9em;
    border-radius: none !important;
    border-color: map-get($brown, lightfade);
}

table.shop_table, .button {
    border-radius: 0 !important;
}

.woocommerce-button {
    text-transform: uppercase !important;
    border-bottom: 2px solid !important;
    letter-spacing: 1.5px !important;
    display: table !important;
    font-weight: 600 !important;
    background: transparent !important;
    padding: 0 !important;
    color: map-get($brown, main) !important;
    font-size: .8em !important;
    text-align: center !important;
    line-height: 1.6 !important;
}