<header class="header">
	<section class="spacing--gutter max-wrap margin--center flex flex--wrap justify--between">
		<h1><a class="hdr-logo-link" href="/" rel="home" title="{{site.name}}"><i class="icon-logo" data-grunticon-embed></i></a></h1>
		<section class="navs grid--half text--right">
			
			
			{% include 'components/sections/section--sub-nav.twig' %}
			{% include 'components/sections/section--main-nav.twig' %}
		</section>
	</section>
</header>