<header class="header">
	<section class="section--header-wrap spacing--gutter-tab max-wrap margin--center flex flex--wrap justify--between align--items-center">
		<label class="menu--trigger hidden--dsk"><span></span></label>
		<h1 class="header--logo grid--md-third grid--lg-half"><a class="hdr-logo-link" href="/" rel="home" title="{{site.name}}"><i class="icon-logo" data-grunticon-embed></i></a></h1>
		<section class="navs grid--two-thirds grid--lg-half text--right dsk--flex flex--wrap justify--end">
			{% include 'components/sections/section--main-nav.twig' %}
			{% include 'components/sections/section--sub-nav.twig' %}
		</section>
		<i class="icon-cart hidden--dsk" data-grunticon-embed></i>
		{# {% do action('cart_count') %} #}
	</section>

</header>