{% extends "base.twig" %}
{% block content %}
		{% include 'components/sections/section--base-header.twig' %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content section--checkout-wrap max-wrap margin--center bg--brown- margin--vert-4 spacing--gutter">
			{{ function('do_shortcode', '[woocommerce_checkout]') }}
		</section>
	</article>
{% endblock %}