{% extends "base.twig" %}
{% block content %}
	{# {% include 'components/sections/section--image-header.twig' %} #}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="post-type-{{post.post_type}} content" id="post-{{post.ID}}">
		
		{% if post.content %}
			<section class="cafe-wrap margin--center flex flex--wrap justify--between spacing--vert-2 spacing--dsk-vert-5">
				{% if fn('is_account_page') %}
					<div class="grid--one font--content">
						{{post.content}}
					</div>
				{% else  %}
					<div class="grid--sm-three-fifths font--content">
						{{post.content}}
					</div>
				{% endif %}
			</section>
		{% endif %}
		{% if sections %}
			{% include 'components/sections/section--content-sections.twig' %}
		{% endif %}
	</article>
{% endblock %}