{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="post-type-{{post.post_type}} content" id="post-{{post.ID}}">
		
		
		{% if post.content %}
		<section class="content max-wrap margin--center spacing--gutter spacing--dsk-vert-2">{{post.content}}</section>
	{% endif %}
	{% if sections %}
		{% include 'components/sections/section--content-sections.twig' %}
	{% endif %}
</article>
{% endblock %}