{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% include 'components/sections/section--cafe-header.twig' %}
		<div class="hidden--lg">{% include 'components/sections/section--single-cafe-nav.twig' %}</div>
		{% include 'components/sections/section--cafe-content.twig' %}
		{% include 'components/sections/section--cafe-images.twig' %}
		<div class="hidden--lgup">{% include 'components/sections/section--single-cafe-nav.twig' %}</div>
		{% include 'components/sections/section--cafe-events.twig' %}
	</article>
{% endblock %}