.icon-arrow-down-black { background-image: url('app/icons/arrow-down-black.png'); background-repeat: no-repeat; }

.icon-arrow-down-green { background-image: url('app/icons/arrow-down-green.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('app/icons/arrow-down.png'); background-repeat: no-repeat; }

.icon-award { background-image: url('app/icons/award.png'); background-repeat: no-repeat; }

.icon-beans--two { background-image: url('app/icons/beans--two.png'); background-repeat: no-repeat; }

.icon-beans-wide { background-image: url('app/icons/beans-wide.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('app/icons/calendar.png'); background-repeat: no-repeat; }

.icon-cart { background-image: url('app/icons/cart.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('app/icons/clock.png'); background-repeat: no-repeat; }

.icon-envelope { background-image: url('app/icons/envelope.png'); background-repeat: no-repeat; }

.icon-footer-guy { background-image: url('app/icons/footer-guy.png'); background-repeat: no-repeat; }

.icon-hand { background-image: url('app/icons/hand.png'); background-repeat: no-repeat; }

.icon-leaves { background-image: url('app/icons/leaves.png'); background-repeat: no-repeat; }

.icon-logo-monogram { background-image: url('app/icons/logo-monogram.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-map--alley { background-image: url('app/icons/map--alley.png'); background-repeat: no-repeat; }

.icon-map--capitol { background-image: url('app/icons/map--capitol.png'); background-repeat: no-repeat; }

.icon-map--oak { background-image: url('app/icons/map--oak.png'); background-repeat: no-repeat; }

.icon-map--weatherstone { background-image: url('app/icons/map--weatherstone.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('app/icons/phone.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('app/icons/search.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

