<section class="section--home-cafe-grid flex flex--wrap justify--between max-wrap margin--center spacing--gutter">
	{% for cafe in cafes %}
		{% include 'components/blocks/block--cafe-grid-item.twig' %}
	{% endfor %}
</section>