<section class="section--cafe-content cafe-wrap dsk--flex flex--wrap justify--between margin--center font--small align--items-start spacing--dsk-vert-5">
	{% include 'components/blocks/block--cafe-details.twig' %}
	<div class="grid--one grid--sm-three-fifths order--1">
		<h2>{{post.title}}</h2>
		{{post.content}}
	</div>
	
</section>