<section class="section--base-header bg--brown-dark spacing--vert-2 spacing--dsk-vert-6 spacing--gutter text--center">
<i class="icon-logo-monogram" data-grunticon-embed></i>
	<h2 class="color--white grid--one grid--sm-two-thirds margin--center spacing--vert-2 ">{{base.header.title}}</h2>
	<hr class="color--brown small">
</section>