<section class="cafe--images max-wrap flex flex--wrap justify--around margin--center spacing--gutter spacing--dsk-vert-2">
	<div class="grid--one grid--sm-third">
		<img data-original="{{cafe.images.detail}}" alt="">
	</div>
	<div class="grid--one grid--sm-three-fifths margin--dsk-top-2">
	<img data-original="{{cafe.images.building}}" alt=""></div>
</section>
<hr class="hidden--mob max-wrap margin--center">