<section class="section--footer flex flex--wrap justify--between spacing--gutter max-wrap margin--center text--center spacing--dsk-vert-2">
	{% include 'components/blocks/block--footer-email.twig' %}
	{% include 'components/blocks/block--footer-contact.twig' %}
	{% include 'components/blocks/block--footer-shop.twig' %}
</section>