<header class="section--shop-header bg--brown-dark spacing--vert-2 spacing--dsk-vert-6">
        <i class="icon-logo-monogram block margin--center" data-grunticon-embed></i>
        <h2 class="color--white text--center grid--one ">{% if category %}{{title}}{% else %}All Products{% endif %}</h2>
    </header>