<section class="section--single-cafe-nav relative ">
	<a class="text--uppercase font--smaller letter--1 font--bold nextprev hidden--mob" href="{{previous.guid}}"><i class="icon-hand" data-grunticon-embed></i><span>{{previous.post_title}}</span></a>
	
	<a class="text--uppercase font--smaller letter--1 font--bold nextprev" href="{{next.guid}}"><span>{{next.post_title}}</span><i class="icon-hand" data-grunticon-embed></i></a>
	
</section>