<section class="section--home-about spacing--dsk-vert-5">
	<i class="icon-leaves" data-grunticon-embed></i>
	<i class="icon-beans-wide" data-grunticon-embed></i>
	<h2 class="text--center margin--vert-1">{{home.about.title}}</h2>
	<a href="{{home.about.link.url}}" target="{{home.about.link.target}}" class="button center">{{home.about.link.title}}</a>
	
</section>