<section class="cafe--images max-wrap flex flex--wrap justify--around margin--center spacing--gutter border--bot-1 spacing--dsk-vert-2">
	<div class="grid--third">
		<img data-original="{{cafe.images.detail}}" alt="">
	</div>
	<div class="grid--three-fifths margin--top-2">
	<img data-original="{{cafe.images.building}}" alt=""></div>
</section>