<h3 class="hidden--dsk grid--one spacing--gutter">Find your Cafe</h3>
<section class="section--home-cafe-grid dsk--flex flex--wrap justify--between max-wrap margin--center spacing--gutter">
	{% for cafe in cafes %}
		{% include 'components/blocks/block--cafe-grid-item.twig' %}
	{% endfor %}
</section>