<div class="block--search bg--brown-faded spacing--vert-2 spacing--horiz-2">
	<strong class="text--uppercase letter--1 font--small spacing--vert-half block">Refine Search</strong>
	{{options.search.form}}
</div>