<div class="block--cafe-details grid--one grid--sm-third letter--1  font--bold  order--2">
	<div class="block--cafe-detail-content">
		<div class="piece--detail spacing--horiz-half spacing--vert-half grid--half grid--sm-one flex justify--between nog">
			<i class="icon-phone" data-grunticon-embed></i>
			<div class="content">{{cafe.info.phone}}</div>
		</div>
		<div class="piece--detail spacing--horiz-half spacing--vert-half grid--half grid--sm-one flex justify--between nog">
			<i class="icon-clock"  data-grunticon-embed></i>

			<div class="content">{{cafe.info.hours}}</div>
		</div>
		<div class="piece--detail spacing--horiz-half spacing--vert-half grid--one  flex justify--between nog">
			<i class="icon-hand-short hidden--dsk" data-grunticon-embed></i><i class="icon-hand hidden--mob" data-grunticon-embed></i>
			<div class="content"><a href="https://www.google.com/maps/search/{{cafe.info.address}}" class="color--black" target="_blank">{{cafe.info.address}}</a></div>
		</div>
	</div>
</div>