<div class="block--product-bottom">
	<div class="title-wrap spacing--horiz-half spacing--dsk-horiz-1 spacing--vert-1 {% if post.sell_note_type == 'award' %}flex flex--wrap justify--between grid--one border-box{% endif %}">
	<h4 class="product-title  font--sans  font--smaller font--bold letter--1 inline-block text--uppercase">{% if post.title %}{{ post.title }}{% else %}{{ fn('the_title') }}{% endif %}</h4>
</div>
{% if post.custom.feature_type != null and post.custom.feature_title %}
	{% include 'components/blocks/block--award.twig' %}
{% endif %}
<div class="block--price-wrap spacing--horiz-half spacing--dsk-horiz-1 spacing--vert-half flex flex--wrap justify--between align--items-center">
	{% do action( 'woocommerce_after_shop_loop_item_title' ) %}
</div>
</div>