<section class="section--pre-footer bg--brown-dark text--center ">
	<i class="icon-footer-guy" data-grunticon-embed></i>
	<div class="max-wrap margin--center spacing--gutter spacing--bot-2">
		<h2 class="color--white margin--center grid--three-fifths margin--bot-1">{{prefooter.testimonial}}</h2>
		<div class="color--green text--uppercase letter--2 font--medium font--bold">{{prefooter.author}}</div>
	</div>
</section>