<section class="section--pre-footer bg--brown-dark text--center color--green font--large flex flex--wrap align--items-center text--uppercase letter--1">
<div class="grow--1 spacing--horiz-1 text--right">{{options.misc.pre01}}</div>
<i class="icon-footer-guy" data-grunticon-embed></i>
<div class="grow--1 spacing--horiz-1 text--left">{{options.misc.pre02}}</div>
</section>