<div class="product-award flex flex--wrap justify--between align--items-center grid--one spacing--horiz-1 color--green">
	<div>
		<i class="icon-award inline-block" data-grunticon-embed></i>
	</div>
	<div class="font--tiny">
		{{post.sell_note}}
	</div>
</div>