.icon-beans--two { background-image: url('app/icons/beans--two.png'); background-repeat: no-repeat; }

.icon-beans-wide { background-image: url('app/icons/beans-wide.png'); background-repeat: no-repeat; }

.icon-cart { background-image: url('app/icons/cart.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('app/icons/clock.png'); background-repeat: no-repeat; }

.icon-footer-guy { background-image: url('app/icons/footer-guy.png'); background-repeat: no-repeat; }

.icon-hand { background-image: url('app/icons/hand.png'); background-repeat: no-repeat; }

.icon-leaves { background-image: url('app/icons/leaves.png'); background-repeat: no-repeat; }

.icon-logo-monogram { background-image: url('app/icons/logo-monogram.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('app/icons/logo.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('app/icons/phone.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('app/icons/search.png'); background-repeat: no-repeat; }

.icon-social--facebook { background-image: url('app/icons/social--facebook.png'); background-repeat: no-repeat; }

.icon-social--instagram { background-image: url('app/icons/social--instagram.png'); background-repeat: no-repeat; }

.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

