body {
    border-top: 3px solid map-get($brown, dark);

    @include media($screen-xs) {
        border-top-width: 5px;
    }


    .page-title {
        display: none;
    }

    ul.products {
        display: none;
    }

    img {
        max-width: 100%;
    }
}