{% extends 'base.twig' %}
{% block content %}
    {% do action('woocommerce_before_main_content') %}
    {% include 'components/sections/section--shop-header.twig' %}
    
    <section class="section--shop flex flex--wrap  justify--between align--items-start max-wrap margin--center spacing--grid spacing--dsk-vert-5 spacing--gutter-tab spacing--gutter-mob">
        
        {% include 'components/sections/section--shop-aside.twig' %}
        <section class="section--shop-product-grid grid--one grid--md-three-fourths flex--double flex--wrap justify--between">
            {% if options.shop.featured and options.shop.featured.info.feature.type != 'none' %}
                {% include 'components/sections/section--product-featured.twig' %}
            {% endif %}
            {% for post in products %}
                {% include ["partials/tease-product.twig"] %}
            {% endfor %}
        </section>
    </section>
    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}
{% endblock  %}